@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 15px;
  border: 2px solid #0282F9;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background-color: #0282F9;
}

.button.blue {
  background-color: #0282F9;
}
.button.blue:hover {
  border: 2px solid #4aa7fe;
  background-color: #4aa7fe;
}

.button.big {
  font-size: 22px;
  padding: 16px 30px;
}

.button.small {
  font-size: 12px;
  padding: 13px 60px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
header img {
  width: 80px;
}
header li {
  display: inline-block;
}
header li a {
  display: inline-block;
  line-height: 95px;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #636363;
}
header li a:hover, header li a.active {
  border-bottom: 5px solid #0282F9;
  color: #0282F9;
}

main .jumbotron {
  height: 300px;
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
}
main .current-series {
  background-color: #1c1c1c;
}
main .current-series .container {
  position: relative;
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: center;
}
main .current-series .container #current-btn {
  position: absolute;
  left: 0;
  top: -35px;
}
main .current-series .container .cards-container {
  display: flex;
  flex-wrap: wrap;
}
main .serie-card {
  flex-basis: 16.6666666667%;
  border: 15px solid #1c1c1c;
  color: #fff;
}
main .serie-card .image-box {
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}
main .serie-card h3 {
  font-size: 14px;
  text-transform: uppercase;
}
main .buy-comics {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  background-color: #0282F9;
  color: #fff;
}
main .buy-comics li {
  display: inline-block;
  padding: 0 30px;
}
main .buy-comics li img {
  width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}
main .buy-comics li a {
  text-transform: uppercase;
  color: #fff;
}

footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 370px;
  overflow: hidden;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
}
footer .footer-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-top .container .footer-links {
  display: flex;
}
footer .footer-top .container .footer-links .column {
  width: 150px;
}
footer .footer-top .container .footer-links .column h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
}
footer .footer-top .container .footer-links .column ul {
  margin-bottom: 20px;
}
footer .footer-top .container .footer-links .column ul a {
  line-height: 20px;
  font-size: 11px;
  color: #969696;
}
footer .footer-top .container .footer-logo {
  width: 45%;
}
footer .footer-bottom {
  height: 100px;
  background-color: #303030;
}
footer .footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
footer .footer-bottom .container .social-icons a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0282F9;
}
footer .footer-bottom .container .social-icons a img {
  width: 35px;
  vertical-align: middle;
}